main {
width:70lvw;
height:100%;
margin-left: 10px;
}
.display-album-content {
  display: flex;
  gap:20px;
}
.album-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
hr {
  width:100%;
}
.album-info .clock {
  width:30px;
  margin-right: 20px;
}
.album-info .title {
  margin-left: 10px;
}
.title-image-box {
  display: flex;
  gap:13px;
  margin-bottom: 10px;
  font-size: 10px;
}
.title-one {
  flex:1;
}
.album-two {
  flex:1;
}
.date-three {
  flex:1;
}
.title-image-box img {
  width:50px;
}