.navbar {
    display: flex;
    align-items: center;
   justify-content: space-between;
}
.image-desc {
    display: flex;
      gap:20px;
   justify-content: space-between;
}
.navbar .username {
    background-color: blue;
    padding:5px;
    border-radius: 50%;
}
.music-options {
    display: flex;
    gap:6px;
    margin: 20px 0;
}
.all {
    background-color: white;
    color:black;
    padding:3px;
    border-radius:50%;
}